<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Page title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        /**
         * 測試insertMember資料
         * @param {type} name description
         * @returns {undefined}
         */
        $.testInsertMember = function() {
            $.ajax({
                type:"POST",
                dataType: "text",
                url: "member",
                data: {
                    "data": '{"icon": "test","name": "test",    "nick_name": "test","email": "test@gmail.com","password" : "test","birthday": "1974-07-16 00:00:00"}'
                },
                success: function(msg){
                    console.log(msg);
                },
                error:function(xhr, ajaxOptions, thrownError){ 
                    console.log(xhr.status); 
                    console.log(thrownError); 
                }
            });
        }
        
    </script>
</head>
<body>
    <h1>{{ hello }}</h1>
</body>
</html>